In [120]:
import numpy as np
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [121]:
df = pd.read_csv('https://drive.google.com/uc?id=1eqFIZCJTkXY-PsTeS-uz_DousIH3XQu-')
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_2.csv')

In [122]:
df.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.548538,0,514.246920,0,1.115260,2.909
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.000000,1,197.520662,0,1.650465,4.133
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.959675,0,1276.328206,0,2.599112,2.461
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.000000,0,535.680831,0,3.216255,0.909
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.000000,1,1729.143367,0,2.716550,-1.822

# 3.1.2

In [123]:
# Создайте в df новый столбец final_ride_cost, который будет зависеть от рейтинга (rating) и максимальной скорости (speed_max) поездки.
# Значения в этом столбце будут отличаться в зависимости от двух условий:
#     - Если рейтинг выше 6 и максимальная скорость поездки меньше 120 км/ч, то стоимость поездки (ride_cost) уменьшите на 5%.
#     - В противном случае: стоимость поездки (ride_cost) увеличьте на 5%.
# В новом столбце final_ride_cost отбросьте дробную часть значений, оставьте только целую часть.
# Так как стоимость измеряется в рублях, дробная часть не имеет значения.

In [124]:
def final_ride_cost(row):
    if row['rating'] > 6 and row['speed_max'] < 120:
        return int(row['ride_cost'] * 0.95)
    else:
        return int(row['ride_cost'] * 1.05)

In [125]:
df['final_ride_cost'] = df.apply(final_ride_cost, axis=1)

In [126]:
df

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,final_ride_cost
0,o52317055h,A-1049127W,b1v,2020-01-01,4.95,21,268,36,113.548538,0,514.246920,0,1.115260,2.909,281
1,H41298704y,A-1049127W,T1U,2020-01-01,6.91,8,59,36,93.000000,1,197.520662,0,1.650465,4.133,56
2,v88009926E,A-1049127W,g1p,2020-01-02,6.01,20,315,61,81.959675,0,1276.328206,0,2.599112,2.461,299
3,t14229455i,A-1049127W,S1c,2020-01-02,0.26,19,205,32,128.000000,0,535.680831,0,3.216255,0.909,215
4,W17067612E,A-1049127W,X1b,2020-01-03,1.21,56,554,38,90.000000,1,1729.143367,0,2.716550,-1.822,581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739495,I15732675M,z91796444U,m1z,2020-03-30,7.42,164,2290,49,54.586302,0,2274.772387,0,6.137593,-39.752,2175
739496,r51579957X,z91796444U,t1P,2020-03-30,4.19,26,412,46,73.000000,0,515.580231,0,6.703367,-38.480,432
739497,l15212727I,z91796444U,z1A,2020-03-31,3.40,23,178,37,71.000000,1,444.846677,0,6.255344,-45.080,186
739498,Z78949958q,z91796444U,w1R,2020-04-01,9.02,5,75,48,87.000000,1,179.464361,0,7.759949,-60.193,71
739499,T14594979g,z91796444U,k1R,2020-04-01,5.96,29,344,45,55.000000,2,1140.454305,0,NaN,-50.835,361

# 3.1.3

In [127]:
# groupby() + count/mean/sum/median
cols = ["rating", "ride_duration", "ride_cost"]
rides_gr = df.groupby("car_id", as_index=False)[cols].mean()
rides_gr.head()

       car_id    rating  ride_duration     ride_cost
0  A-1049127W  4.255172    1289.034483  15201.436782
1  A-1079539w  4.088046    2148.810345  27007.477011
2  A-1162143G  4.662299     479.017241   4599.678161
3  A-1228282M  4.225172    2167.534483  27379.522989
4  A-1339912r  4.690115    1436.614943  16185.545977

In [128]:
# groupby() + aggregation()
cols = ["rating", "ride_cost"]

rides_info_gr = df.groupby("car_id", as_index=False)[cols].agg(["count", "mean"])
rides_info_gr.columns = ["_".join(c) for c in rides_info_gr.columns]  # Убираем мультииндекс
rides_info_gr.head()

            rating_count  rating_mean  ride_cost_count  ride_cost_mean
car_id
A-1049127W           174     4.255172              174    15201.436782
A-1079539w           174     4.088046              174    27007.477011
A-1162143G           174     4.662299              174     4599.678161
A-1228282M           174     4.225172              174    27379.522989
A-1339912r           174     4.690115              174    16185.545977

In [129]:
# groupby() + agg() + tuples
my_func = lambda x: int(max(x) - min(x))  # Можно использовать свои собственные функции
rides_gr = df.dropna().groupby("car_id", as_index=False).agg(
    rating_mean=("rating", "mean"),
    ride_duration_sum=("ride_duration", sum),
    ride_cost_max=("ride_cost", "max"),
    my_func_result=("speed_max", my_func),
)

rides_gr.head(5)

       car_id  rating_mean  ride_duration_sum  ride_cost_max  my_func_result
0  A-1049127W     4.255172             224292         330149             147
1  A-1079539w     4.088046             373893         638746             144
2  A-1162143G     4.644509              83323         361523             138
3  A-1228282M     4.225172             377151         580732             148
4  A-1339912r     4.690115             249971         478306             115

In [130]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_3.csv')
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_3_ans.csv')

In [131]:
df.sample(3)

         car_id  rating  ride_duration  ride_cost   speed_max  stop_times
81   q-1127410X    4.22             28        276  102.000000           0
123  M15952724y    6.39             41        445   74.582484           0
105  M50269450O    3.52             53        525   94.000000           2

In [132]:
# Создайте новый датафрейм, в котором для каждой машины есть следующие столбцы:
#   - Столбец feature_1 - Количество уникальных значений остановок (stop_times).
#   - Столбец feature_2 - Второй максимум столбца максимальной скорости (speed_max).
#   - Столбец feature_3 - Отношение минимального и максимального значения рейтинга.
#   - Столбец feature_4 - Самое популярное значение числа остановок (другим словами, мода).
#   - Столбец feature_5 - Стандартное отклонение стоимостей поездок (ride_cost).
#   - Решение запишите в переменную result.

In [133]:
result = df.groupby('car_id', as_index=False).agg(
    feature_1=('stop_times', 'nunique'),
    feature_2=('speed_max', lambda x: sorted(x)[::-1][1:2][0]),
    feature_3=('rating', lambda x: min(x) / max(x)),
    feature_4=('stop_times', lambda x: pd.Series.mode(x)),
    feature_5=('ride_cost', 'std') #lambda x: pd.Series.std(x))
)

# 3.1.4

In [134]:
# Датасет rides содержит столбцы: car_id, ride_id, rating, ride_duration, ride_cost
# Датасет cars содержит столбцы:car_id, model, riders, target_class
# Задача:
#   - Обогатите датасет rides про поездки информацией о будущем виде поломки, используя датасет cars.
#   - Удалите лишние столбцы. Таблицу rides надо дополнить лишь столбцом target_class.
#   - Удалите поездки, для которых нет информации про поломки.
#   - Запишите в переменную result.

In [135]:
rides = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_rides.csv')
cars = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_cars.csv')
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_4_ans.csv')

In [136]:
print(rides.shape)
rides.sample(3)

(50, 5)

        car_id ride_id  rating  ride_duration  ride_cost
7   L-1156474z     u1g    5.81             33        391
10  t-1505206e     F1H    6.26             39        502
44  S56454866u     i1w    3.70             19        223

In [137]:
print(cars.shape)
cars.sample(3)

(7, 4)

       car_id          model  riders  target_class
0  s-1723833v       BMW 320i   58695  engine_check
2  X10754765V      VW Tiguan  125986   electro_bug
6  L-1156474z  Tesla Model 3   39718     break_bug

In [138]:
result = rides.merge(cars, on='car_id', how='left')
result.drop(['model', 'riders'], axis=1, inplace=True)
result.dropna(subset=['target_class'], axis=0, inplace=True)
result

        car_id ride_id  rating  ride_duration  ride_cost     target_class
7   L-1156474z     u1g    5.81             33        391        break_bug
17  M20797256F     e1V    5.01             56        667  engine_overheat
18  E16896376o     B1Q    4.88             26        228  engine_overheat
21  X10754765V     M1i    1.62             29        312      electro_bug
28  E16896376o     V1L    6.98             37        512  engine_overheat
38  s-1723833v     I1q    3.94             63        813     engine_check

# 3.1.5

In [139]:
# Датасет rides содержит столбцы car_id, ride_id, user_id, rating, ride_cost
# Задача:
#   - Обогатите датасет rides про поездки дополнительными признаками без использования метода merge.
#   - Добавьте столбец car_ride_count - общее число поездок для этой машины.
#   - Добавьте столбец user_rating_max - максимальный рейтинг, поставленный этим пользователем.
#   - Добавьте столбец user_ride_cost_mean - средняя стоимость поездки этого пользователя.
#   - Результат запишите в переменную result.

In [140]:
rides = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_5.csv')
rides

,car_id,ride_id,user_id,rating,ride_cost,true_car_ride_count,true_user_rating_max,true_user_ride_cost_mean
0,D17587481H,E1V,Q20675647n,1.96,282,3,1.96,282.0
1,w13176062d,V1h,O11803938a,4.45,308,4,4.45,308.0
2,s-2202835E,B1g,u20234217o,2.76,525,4,2.76,525.0
3,H-1213278K,i1U,c19828320U,7.12,6154,5,7.12,6154.0
4,H-2108091L,j1Z,l90945335K,1.68,539,4,1.68,539.0
...,...,...,...,...,...,...,...,...
95,I-1538597J,E1u,s62773754W,9.80,115,2,9.80,115.0
96,g21645452f,r1J,a28773047v,4.26,387,3,4.26,387.0
97,s20690018N,z1A,m35202170I,2.75,155,2,2.75,155.0
98,v11386552i,z1v,b62669559O,0.88,123261,2,0.88,123261.0
99,W-1942072H,q1N,H27099396J,5.74,441273,2,5.74,441273.0

In [141]:
rides['car_ride_count'] = rides.groupby('car_id', as_index=False)['ride_id'].transform('count')
rides['user_rating_max'] = rides.groupby('user_id', as_index=False)['rating'].transform('max')
rides['user_ride_cost_mean'] = rides.groupby('user_id', as_index=False)['ride_cost'].transform('mean')

In [142]:
rides

,car_id,ride_id,user_id,rating,ride_cost,true_car_ride_count,true_user_rating_max,true_user_ride_cost_mean,car_ride_count,user_rating_max,user_ride_cost_mean
0,D17587481H,E1V,Q20675647n,1.96,282,3,1.96,282.0,3,1.96,282.0
1,w13176062d,V1h,O11803938a,4.45,308,4,4.45,308.0,4,4.45,308.0
2,s-2202835E,B1g,u20234217o,2.76,525,4,2.76,525.0,4,2.76,525.0
3,H-1213278K,i1U,c19828320U,7.12,6154,5,7.12,6154.0,5,7.12,6154.0
4,H-2108091L,j1Z,l90945335K,1.68,539,4,1.68,539.0,4,1.68,539.0
...,...,...,...,...,...,...,...,...,...,...,...
95,I-1538597J,E1u,s62773754W,9.80,115,2,9.80,115.0,2,9.80,115.0
96,g21645452f,r1J,a28773047v,4.26,387,3,4.26,387.0,3,4.26,387.0
97,s20690018N,z1A,m35202170I,2.75,155,2,2.75,155.0,2,2.75,155.0
98,v11386552i,z1v,b62669559O,0.88,123261,2,0.88,123261.0,2,0.88,123261.0
99,W-1942072H,q1N,H27099396J,5.74,441273,2,5.74,441273.0,2,5.74,441273.0

# 3.1.6

In [143]:
# Датасет rides содержит столбцы: car_id, ride_id, user_id, rating, ride_duration, ride_cost
#
# Обогатите датасет rides про поездки дополнительными признаками без использования метода merge.
#   - Добавьте столбец feature_1 — 75% перцентиль столбца ride_cost для каждого пользователя (user_id).
#   - Добавьте столбец feature_2 — разницу максимального и минимального значения rating, деленную на среднее столбца rating для каждого пользователя (user_id).
#   - Добавьте столбец feature_3  — количество значений ride_duration, которое больше 40 для каждой машины (car_id).
#   - Добавьте столбец feature_4 — сумму значений ride_duration, которая больше 40 для каждой машины (car_id).
#   - Результат запишите в переменную result.

In [144]:
rides = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_6.csv')
rides

,car_id,ride_id,user_id,rating,ride_duration,ride_cost,true_feature_1,true_feature_2,true_feature_3,true_feature_4
0,v13590850L,m1q,S54951221d,1.38,52,723,599.25,1.043328,1,52
1,C-1092574s,q1w,h90416721m,8.36,33572,470001,470001.00,0.000000,6,100329
2,i77678921h,i1i,A15424124M,7.03,49,385,385.00,0.000000,3,169
3,U16614632F,p1m,Q22613814X,6.87,43,510,510.00,0.000000,5,320
4,i55328849i,I1A,N22883211D,4.30,110,1536,1536.00,0.000000,10,23108
...,...,...,...,...,...,...,...,...,...,...
95,j22108372p,V1J,V75566459d,4.00,23958,239574,179724.50,0.102497,1,23958
96,B-3513567K,W1b,q20149942o,0.10,39,1946,1946.00,0.000000,4,17106
97,u20627445L,e1z,b61297238i,0.65,25,293,836.00,1.875283,0,0
98,U16614632F,n1g,r18895845t,5.20,59,525,525.00,0.000000,5,320
99,i77678921h,l1G,D93858475U,2.15,28,388,388.00,0.000000,3,169

In [145]:
import numpy as np

f_1 = lambda x: x.quantile(q = 0.75)
f_2 = lambda x: (max(x) - min(x)) / np.mean(x)
f_3 = lambda x: sum(x > 40)
f_4 = lambda x: sum(x[x > 40])

rides['feature_1'] = rides.groupby('user_id', as_index=False)['ride_cost'].transform(f_1)
rides['feature_2'] = rides.groupby('user_id', as_index=False)['rating'].transform(f_2)
rides['feature_3'] = rides.groupby('car_id', as_index=False)['ride_duration'].transform(f_3)
rides['feature_4'] = rides.groupby('car_id', as_index=False)['ride_duration'].transform(f_4)

result = rides

In [146]:
result

,car_id,ride_id,user_id,rating,ride_duration,ride_cost,true_feature_1,true_feature_2,true_feature_3,true_feature_4,feature_1,feature_2,feature_3,feature_4
0,v13590850L,m1q,S54951221d,1.38,52,723,599.25,1.043328,1,52,599.25,1.043328,1,52
1,C-1092574s,q1w,h90416721m,8.36,33572,470001,470001.00,0.000000,6,100329,470001.00,0.000000,6,100329
2,i77678921h,i1i,A15424124M,7.03,49,385,385.00,0.000000,3,169,385.00,0.000000,3,169
3,U16614632F,p1m,Q22613814X,6.87,43,510,510.00,0.000000,5,320,510.00,0.000000,5,320
4,i55328849i,I1A,N22883211D,4.30,110,1536,1536.00,0.000000,10,23108,1536.00,0.000000,10,23108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,j22108372p,V1J,V75566459d,4.00,23958,239574,179724.50,0.102497,1,23958,179724.50,0.102497,1,23958
96,B-3513567K,W1b,q20149942o,0.10,39,1946,1946.00,0.000000,4,17106,1946.00,0.000000,4,17106
97,u20627445L,e1z,b61297238i,0.65,25,293,836.00,1.875283,0,0,836.00,1.875283,0,0
98,U16614632F,n1g,r18895845t,5.20,59,525,525.00,0.000000,5,320,525.00,0.000000,5,320
99,i77678921h,l1G,D93858475U,2.15,28,388,388.00,0.000000,3,169,388.00,0.000000,3,169

# 3.1.7

In [169]:
# Задача. На основе этого датафрейма надо будет собрать несколько сводных таблиц (pivot table) и потом смержить их в одну итоговую, получив некое подобие эмбеддингов для подачи в модель.

# Индексом во всех таблицах будет user_id.
#   - Первая таблица: Сколько раз пользователь брал машины определенного класса?
#   - Вторая таблица: Какими были максимальная, минимальная и средняя дистанция и стоимость поездки пользователя?
#   - Третья таблица: Сколько уникальных машин брал пользователь в аренду?
# Далее соединяем по ключу (смерживаем) все 3 таблицы в одну.
# И в конце добавляем бинарный таргет в столбец crazy_driver: Является ли наш пользователь безумным гонщиком? Если его максимальная скорость превышала 100 км/ч, то 1; если не превышала, то 0.
# Результат решения запишите в переменную result.
# Комментарий: Не забывайте избавляться от мультииндекса и использовать pivot_table. Использовать groupby нельзя! Пропуски заполнять 0.

In [183]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_7.csv')
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/779916/3_1_7_ans.csv')

In [184]:
df.head()

,user_id,car_type,car_id,distance,ride_cost,speed_max,model
0,h14343699V,economy,A-1049127W,158.842938,135,72.027288,Hyundai Solaris
1,b13580442h,standart,A-1079539w,3288.823484,510,124.758500,Renault Kaptur
2,R21123881y,economy,A-1162143G,1464.013497,584,47.000000,VW Polo
3,P16628111o,standart,A-1079539w,1104.886251,1148,78.926452,Renault Kaptur
4,W15317251O,economy,A-1162143G,983.088780,337,180.000000,VW Polo

In [185]:
one = df.pivot_table(index=['user_id'], columns='car_type', values='car_id', aggfunc=['count']).fillna(0)
one.columns = [f'{i[1]}_{i[0]}' for i in one.columns]

two = df.pivot_table(index=['user_id'], values=['distance','ride_cost'], aggfunc=['min', 'max', 'mean']).fillna(0)
two.columns = [f'{i[1]}_{i[0]}' for i in two.columns]

three = df.pivot_table(index=['user_id'], values='car_id', aggfunc=['nunique'])
three.columns = [f'{i[1]}_{i[0]}' for i in three.columns]

max = df.pivot_table(index=['user_id'], values='speed_max', aggfunc=['max'])
max.columns = ['crazy_driver']
max['crazy_driver'] = max['crazy_driver'].apply(lambda x: 1 if x > 100 else 0)

result = one.merge(two, how='left', left_index=True, right_index=True)
result = result.merge(three, how='left', left_index=True, right_index=True)
result = result.merge(max, how='left', left_index=True, right_index=True)
result.reset_index(inplace=True)

result

,user_id,economy_count,standart_count,distance_min,ride_cost_min,distance_max,ride_cost_max,distance_mean,ride_cost_mean,car_id_nunique,crazy_driver
0,A11173530w,1.0,0.0,2.967598e+03,614,2.967598e+03,614,2.967598e+03,614,1,1
1,A66187474K,0.0,1.0,4.621773e+03,1320,4.621773e+03,1320,4.621773e+03,1320,1,0
2,C84438702e,1.0,0.0,1.221070e+03,195,1.221070e+03,195,1.221070e+03,195,1,1
3,E15036556k,0.0,1.0,1.284249e+06,374394,1.284249e+06,374394,1.284249e+06,374394,1,0
4,G84350611k,0.0,1.0,1.850353e+03,428,1.850353e+03,428,1.850353e+03,428,1,0
5,I12505308H,0.0,1.0,1.023812e+03,509,1.023812e+03,509,1.023812e+03,509,1,0
6,N78592053P,1.0,0.0,1.591183e+03,746,1.591183e+03,746,1.591183e+03,746,1,0
7,O16691347p,1.0,0.0,2.295234e+02,202,2.295234e+02,202,2.295234e+02,202,1,0
8,P16628111o,0.0,1.0,1.104886e+03,1148,1.104886e+03,1148,1.104886e+03,1148,1,0
9,R16443619c,1.0,0.0,1.324071e+03,512,1.324071e+03,512,1.324071e+03,512,1,0
10,R21123881y,1.0,0.0,1.464013e+03,584,1.464013e+03,584,1.464013e+03,584,1,0
11,S51575404w,1.0,0.0,3.988600e+02,257,3.988600e+02,257,3.988600e+02,257,1,0
12,T73601037O,1.0,0.0,1.212315e+02,46,1.212315e+02,46,1.212315e+02,46,1,0
13,U96048210v,1.0,0.0,9.618259e+02,1535,9.618259e+02,1535,9.618259e+02,1535,1,0
14,W15317251O,1.0,0.0,9.830888e+02,337,9.830888e+02,337,9.830888e+02,337,1,1
15,X84487465q,0.0,1.0,9.669285e+02,761,9.669285e+02,761,9.669285e+02,761,1,0
16,a84945199R,1.0,0.0,1.568265e+03,327,1.568265e+03,327,1.568265e+03,327,1,0
17,b13580442h,0.0,1.0,3.288823e+03,510,3.288823e+03,510,3.288823e+03,510,1,1
18,c16243825Y,1.0,0.0,2.139910e+03,370,2.139910e+03,370,2.139910e+03,370,1,0
19,e12723895d,0.0,1.0,2.465034e+02,149,2.465034e+02,149,2.465034e+02,149,1,1
20,f78566793v,0.0,1.0,2.838551e+03,696,2.838551e+03,696,2.838551e+03,696,1,1
21,h14343699V,1.0,0.0,1.588429e+02,135,1.588429e+02,135,1.588429e+02,135,1,0
22,i21972487P,1.0,0.0,5.423140e+02,526,5.423140e+02,526,5.423140e+02,526,1,0
23,o11160326l,1.0,0.0,3.186288e+03,1184,3.186288e+03,1184,3.186288e+03,1184,1,0
24,q16643160J,1.0,0.0,2.407440e+03,1524,2.407440e+03,1524,2.407440e+03,1524,1,0
25,r94110346t,1.0,0.0,5.555052e+05,163944,5.555052e+05,163944,5.555052e+05,163944,1,0
26,u92005384K,1.0,0.0,2.578132e+03,1179,2.578132e+03,1179,2.578132e+03,1179,1,0
27,v12246955f,0.0,1.0,3.815370e+02,106,3.815370e+02,106,3.815370e+02,106,1,1
28,y14157953A,1.0,0.0,2.093983e+03,681,2.093983e+03,681,2.093983e+03,681,1,0
29,z19432069u,1.0,0.0,1.729629e+03,555,1.729629e+03,555,1.729629e+03,555,1,0